<h2>Events</h2>
  <%= column_chart @day_of_week, stacked: true, xtitle: "Day", ytitle: "Number of Events"%>

<% @hooks.each do |hook| %>
  <% unless hook.canceled %>
    <h3><%= hook.event_name %> with <%= hook.invitee_name %></h3>
    <ul>
      <li><b>Start:</b> <%= hook.start_time.strftime("%a, %b %-d, %Y %l:%M%P") %></li>
      <li><b>End:</b> <%= hook.end_time.strftime("%a, %b %-d, %Y %l:%M%P") %></li>
      <li><b>Invitee Email:</b> <%= hook.invitee_email %></li>
    </ul>
    <% else hook.canceled %>
    <h2 style="color:red">CANCELED</h2>
    <h3><%= hook.event_name %> with <%= hook.invitee_name %></h3>
    <ul>
      <li><b>Canceled By:</b> <%= hook.canceler %></li>
      <li><b>Cancel Reason:</b> <%= hook.cancel_reason %></li>
      <li><b>Canceled At:</b> <%= hook.canceled_at.to_datetime.strftime("%a, %b %-d, %Y %l:%M%P") %></li>
    </ul>
  <% end %>
  <br>
  <hr>
  <br>
<% end %>
